.container {
  background-color: rgba(26, 10, 175, 0.589);
  border-radius: 0.50rem;
  border: 1px solid rgb(211, 211, 223);
  padding: 40px 43px;
  width: 150px;
  margin: 5px;
  font-weight: 700;
  color: rgb(241, 241, 241);
  text-align: center;
}

.statusColor {
  background-color: brown;
  margin-top: -1.5cm;
  border-radius: 0.50rem;
  font-size: large;
  padding: 5px;
}

.product {
  font-weight: 900;
  color: rgb(241, 241, 241);
  text-align: center;
}

.flex_container {
  margin-left: 3.6cm;
  margin-top: -24.8cm;
  display: flex;
  flex-wrap: wrap;
}

.row {
  -webkit-flex-direction: row;
  flex-direction: row;
}