/* Nav-Bar Header Styles*/

.nav-container {
  background: rgb(76, 80, 77);
  position: top;
  width: 100%;
  height: 10.0vh;
  border-radius: 10px;
}

.navButtonGrid {
  display: flex;
  justify-content: space-around;
}

.NavBarButton {
  position: relative;
  top: 0.4cm;
  box-shadow: 0px 0px 0px 2px #1a383d;
  background-color: white;
  border-radius: 10px;
  border: 1px thin #29668f;
  display: inline-block;
  cursor: pointer;
  color: #050404;
  font-family: Arial;
  font-size: 19px;
  padding: 13px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.NavBarButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.NavBarButton:active {
  position: relative;
  top: 1px;
}