/* Nav-SideBar Styles*/

.sidenav_container {
  height: 25cm;
  width: 130px;
  background-color: rgb(76, 80, 77);
  border-radius: 10px;
}

.sideButtonGrid {
  flex-direction: column;
  margin-left: 0.7cm;
}

.sideButton {
  box-shadow: 0px 0px 0px 2px #1a383d;
  background-color: white;
  border-radius: 10px;
  border: 1px thin #29668f;
  display: inline-block;
  cursor: pointer;
  color: #050404;
  font-family: Arial;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.sideButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.sideButton:active {
  position: relative;
  top: 1px;
}