body {
  background: rgb(2, 2, 2) !important;
}

a {
  color: rgb(153, 104, 104);
}

.container {
  list-style-type: none !important;
}

.centered {
  justify-content: space-evenly;
}

.brand {
  margin-left: 0.2vw;
  color: rgb(255, 255, 255);
  font-size: 1.8vw;
  float: left;
}

.switch-title {
  background: inherit;
  color: white;
  font-size: 0.7vw;
  letter-spacing: 1px;
}

.switch-button {
  background: rgb(69, 69, 100);
  border-color: rgb(121, 101, 101);
  color: white;
  font-size: 0.6vw;
  letter-spacing: 1px;
}

.nav-bar-item {
  margin: 0.5% 0 0 30% !important;
  display: block;
}

.btn.btn-primary {
  background-color: inherit;
  border-color: rgb(14, 13, 13);
  border-width: medium;
  color: black;
  font-size: 1.5vw;
}

.btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  display: inline-block;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  vertical-align: middle;
}

a.active>button {
  background: #00b !important;
}

.button-history {
  background: #003 !important;
  border-color: rgb(124, 108, 108);
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 1px;
  white-space: nowrap;
  margin: 0 0 0 0 !important;
}

.history {
  margin: 0 5% 0 0 !important;
  display: block;
}

.viewing-text {
  background: inherit;
  color: white;
  margin-top: 0.1vh;
  margin-bottom: 0.1vh;
  font-size: 0.5vw;
  letter-spacing: 0.02vw;
}

.menu {
  background: rgb(67, 67, 71) !important;
}

.menu-item {
  background: rgb(35, 35, 46) !important;
  border-radius: .25em;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 4vw;
  padding: 0;
  color: white;
  white-space: nowrap;
}

.popup-content {
  background: rgb(58, 58, 66) !important;
  border: 1px solid #fff !important;
  max-height: 25vh;
  overflow-y: auto;
  --scrollbarBG: #009;
  --thumbBG: #ddd;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.popup-content::-webkit-scrollbar {
  width: 11px;
}

.popup-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.popup-arrow {
  background: #00d !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.grid-group>li {
  padding-left: .4vw;
  padding-top: .7vh;
  padding-bottom: .7vh;
}

.sidenav a {
  border-color: darkgrey;
  color: rgb(3, 3, 3);
  font-size: 1.8vw;
  letter-spacing: 1px;
}

.logo {
  margin: 0.2% 0 0 2%;
  float: left;
}

.side-bar-item>button.active {
  background-color: #566b92 !important;
}

.side-bar-item>button {
  background: rgb(91, 91, 150) !important;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 4vw;
  padding: 0;
}

.tracking {
  font-weight: normal;
  font-size: 1.2vw;
  letter-spacing: 0;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: .03px;
}

.pass {
  color: #0a0;
}

.fail {
  color: red;
}

/* Content Styles */

.grid-group {
  background: rgb(134, 134, 177) !important;
  padding-top: 9vh;
  display: grid !important;
  margin-left: 4.5vw;
  min-width: 94.1vw;
  min-height: 100vh;
  position: static !important;
  overflow-x: hidden !important;
}

.microservice {
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden !important;
}

.experience {
  grid-template-columns: repeat(3, 1fr);
}

.experiencesRegression {
  grid-template-columns: repeat(3, 1fr);
}

.test-result-item {
  background-color: rgb(102, 102, 141) !important;
  border-color: darkgrey;
  color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 1px;
  font-size: 1.1vw;
  font-weight: bold;
}

.test-result {
  float: left;
}

.success {
  background-color: #0a0 !important;
  color: black;
  letter-spacing: 1px;
}

.danger {
  background-color: maroon !important;
  letter-spacing: 1px;
}

.test-name {
  font-size: .8vw;
}

.test-time {
  color: lightgray;
  font-weight: normal;
  font-size: .8vw;
}

/* Scroll Bar */

html {
  --scrollbarBG: rgb(114, 114, 161);
  --thumbBG: #ddd;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}